@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

<body>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    </div>
    <p style="font-size:300%;">Welcome to our bank!</p>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    </div>
    <p>
        SE Bank is a full service commercial bank providing personal banking services.
    </p>
    <p>
        Our promise to you? To treat you like a neighbor by providing friendly personal service that meets your individual banking needs. Start banking today.
    </p>


</body>
</html>
